body {
  font: 16px/28px 'Fira Code', 'Jetbrains Mono';
  background-color: #eaeaea;
  color: #333;
  background-image: url(/website/box-model/img/latarbelakang/pink-flowers.png);
}

.container {
  width: 960px;
  margin: auto;
  background-color: #fff;
}

.header {
  padding: 20px;
  padding-bottom: 5px;
}

.header .judul {
  font-size: 40px;
  font-weight: bold;
}

.header ul li {
  display: inline-block;
  margin-top: 10px;
}

.header a {
  text-decoration: none;
  color: salmon;
  padding: 3px;
}

.header a:hover {
  text-decoration: underline;
  background-color: lightskyblue;
  color: white;
}

.header #coss {
  margin-left: -2px;
}

.hero {
  height: 350px;
  background-image: url(/website/box-model/img/hero/jala.jpg);
  background-size: cover;
  background-position: 0 -90px;
  border-top: 5px solid salmon;
  border-bottom: 5px solid lightskyblue;
}

.main {
    width: 600px;
    float: left;
    padding: 20px;
    box-sizing: border-box;
}

.main .judul h2 {
  font-size: 28px;
  font-weight: bold;
}

.main .judul .penulis {
  font-size: 11px;
  margin-top: -5px;
}

.main .judul a {
  text-decoration: none;
  color: #333;
}

.main .judul a:hover {
  text-decoration: underline;
  color: #000;
}

.main p {
  margin-bottom: 20px;
  text-align: justify;
  font-size: 14px;
  text-indent: 20px;
}

.sidebar{
    width: 300px;
    float: right;
    padding: 20px;
}

.sidebar h3{
    font-weight: bold;
    color: #666;
}

.sidebar img{
    width: 100px;
    float: left;
    padding-right: 10px;
}

.sidebar p{
    text-align: justify;
    font: 12px/18px 'Jetbrains Mono', sans-serif;
}

.footer {
  background-color: #333;
  padding: 10px;
}

.footer .copy {
  color: #eaeaea;
  text-align: center;
  font-size: 12px;
}
