body{
  height: 2000px;
}

div{
  width: 200px;
  height: 200px;
  margin: auto;
}

.satu{
  background-color: lightgreen;
}

.dua{
  background-color: violet;
  position: fixed;
  top: 0;
  right: 0;;
}

.tiga{
  background-color: gold;
}

.container{
  width: 600px;
  height: 650px;
  border: 5px solid green;
  margin: auto;
  position: relative;
}